@charset "utf-8";
* {
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "head head"
        "nav art"
        "foot foot";
}
header {
    grid-area: head;
    background-color: chartreuse;
}
nav {
    grid-area: nav;
    background-color: burlywood;
}
article {
    grid-area: art;
    background-color: lightpink;
}
footer {
    grid-area: foot;
    background-color: aqua;
}

header,
footer,
nav,
main,
article {
    border: 1px solid black;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav a:hover {
    background: cyan;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main {
    text-align: justify;
    width: 80%; /*WIDTH ESETÉN A SZÉLESSÉG SZÁZALÉKOS*/
    max-width: 800px; /*NEM LESZ ENNÉL NAGYOBB*/
    margin: auto; /*KÖZÉPRE*/
}
@media screen and (max-width: 600px) {
    main {
        background-color: red;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "head"
            "nav"
            "art"
            "foot";
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    main {
        background-color: blue;
    }
}
